﻿@model IEnumerable<OnionArch.Domain.Entities.Blog>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">    
    <div class="col-md-12">
        <h2>Mevcut Bloglar</h2>
        <ul>
            @foreach (var blog in Model)
            {
                <li>@blog.Name (@blog.Id)</li>
            }
        </ul>
    </div>
</div>